* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90;
    background-color: #f5f5f5;
}

.memory-board {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-gap: 20px;
    padding: 20px;
    background-color: #ffffff;
    border: 2px solid #cccccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
    background-color: #eee;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    transition: transform 0.3s ease;
    overflow: hidden;
}

.card img {
    width: 95%;
    height: 75%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}


/* Hover effect on cards */
.card:hover {
    transform: scale(1.05);
}

@media (max-width: 600px) {
    body {
        justify-content: left;
    }
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.card img {
    transition: opacity 0.3s ease;
}

.card img.hidden {
    opacity: 0;
}

.card img:not(.hidden) {
    opacity: 1;
}
